.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #1f1f1f, #333538, #444, #333538, #1f1f1f);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.header .logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #e0e0e0;
  text-transform: uppercase;
}

.header .nav {
  display: flex;
  gap: 20px;
}

.header .nav a {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #e0e0e0;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header .nav a:hover {
  color: #1e3c72;
  text-shadow: 0 0 5px #1e3c72
}

.login-btn {
  background-color: #1e3c72;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.login-btn:hover {
  background-color: #1e3c72;
}

.login-btn:active {
  background-color: #1e3c72;
  transform: scale(0.95);
}

.logo-container {
  height: 100%;
  display: table;
  float: left;
}

.logo-container h1 {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.logo-container span {
  font-weight: 10000;
}